{% extends 'base.html' %}
<h4>{{ blog_content.title }}</h4>

    <header class="card__header">
        <h4>Informatii utile</h4>
    </header>
    <div>
        <div class="row">
            <div class="col-lg-12">


                <title></title>


                <p>
                    <strong>I. Etapele pentru efectuarea unei comenzi online.</strong></p>
                <p>
                    1. Accesați www.SDA-Forever.ro<br>
                    2. Selectați numărul de bilete și categoria (tribuna, peluza, vip) - click "comanda
                    bilete"<br>
                    3. Selectați sectorul (albastru - sectoare disponibile), gri - sectoare indisponibile) și apoi
                    locurile (libere sunt cele albastre)  "Comanda bilete"<br>
                    4. Pagina unde vizualizați numărul de bilete, categoria și valoarea comenzi - click "Continua"<br>
                    5. Completați toate câmpurile (nume, prenume, mail, telefon, adresa de livrare/e-Ticket, modalitate
                    de plata) - bifați "Am citit termenii și condițiile " - click "Trimite Comanda".</p>
                <p>
                    Pentru o comandă înregistrată cu succes se afișează mesajul "Felicitări comanda dvs. a fost
                    înregistrată."<br>
                    Automat primiți un mail de confirmare comanda (verificați Inbox/ Spam).</p>
                <p>
                    În cazul comenzilor care nu conțin coordonatele corecte ale persoanei care a comandat,
                    www.bilete-fcsb.ro își rezerva dreptul de a le anula.</p>
                <p>
                    Numărul maxim de bilete pe o comanda este de 5 bilete pe meci.</p>
                <p>
                    <strong>NOTA: </strong>Comenzile sunt înregistrate de către clienți exclusiv online. Nu
                    preluam comenzi prin telefon, comenzile se vor face exclusiv pe site.</p>
                <p>
                    <strong>II. e-Ticket</strong></p>
                <p>
                    www.SDA-forever.ro pune la dispoziția clienților săi posibilitatea de a achiziționa bilete cu
                    printare acasă (e-Ticket) la meciurile de fotbal organizate de Fotbal SDA SA.</p>
                <p>
                    Informații utile:<br>
                    • asigurați-vă că e-Ticketul este tipărit clar.<br>
                    • codul de bare este unic și valabil pentru o singura scanare.<br>
                    • e-Ticketul trebuie prezentat la accesul pe stadion și este valabil pentru o singura persoana.<br>
                    • e-Ticketul nu este rambursabil.</p>
                <p>
                    Comenzile de e-Tickete sunt plătite exclusiv online cu cardul.</p>
                <p>
                    <strong>NOTA: </strong>Pentru siguranța accesului la stadion și protecția datelor și vă rugam
                    insistent să nu achiziționați e-ticket din alte surse decât website-ul SDA.ro!</p>
                <p>
                    <strong>III. Metoda de plată</strong></p>
                <p>
                    Biletele comandate online pot fi plătite online cu cardul, pentru care SDA.ro utilizează
                    serviciile integratorului de plăti PayU.ro. Cardurile acceptate de operator sunt Visa și
                    Mastercard.</p>
                <p>
                    www.SDA.ro are disponibil și plata biletelor la livrare - biletele din comanda vor fi
                    achitate de client la agentul Fan Courier în momentul livrării.</p>
                <p>
                    Plata comenzilor cu bilete printate acasă (e-Ticket) se face exclusiv online.</p>
                <p>
                    <strong>IV. Livrarea biletelor</strong></p>
                <p>
                    Livrarea biletelor se va face prin intermediul Fan Courier de luni pana vineri în intervalul
                    09:00 - 18:00. În zilele de sâmbătă și duminică nu se fac livrari.</p>
                <p>
                    <strong>V. Returnarea banilor pe bilete</strong></p>
                <p>
                    În situațiile în care un eveniment se anulează, sau se decide ulterior că se joacă fără spectatori
                    contravaloarea biletelor va fi returnată clienților. Nu se returnează comisionul de rezervare și
                    procesare.</p>
                <p>
                    <strong>VI. Persoane cu dizabilități</strong></p>
                <p>
                    Persoanele cu dizabilități sau însoțitorii acestora pot ridica biletele speciale de la casele de
                    bilete de la Stadion.<br>
                    Pentru a primi biletele trebuie să aducă copii după C.I. / B.I. a persoanei cu handicap și actul
                    doveditor al dizabilității respective și copie după C.I. / B.I. însoțitor.<br>
                    Atenție! Inclusiv la accesul în incinta stadionului persoana cu handicap este obligată să prezinte
                    certificatul de dizabilitate.<br>
                    Programul caselor va fi anunțat prin intermediul www.SDA.ro în timp util.</p>
                <p>
                    <strong>VII. Accesul copiilor pe stadion</strong></p>
                <p>
                    Copiii au acces pe stadion fără nicio restricție. Copiii, pana în vârsta de 7 ani, beneficiază de
                    gratuitate la meciuri. Acestora li se va permite accesul pe stadion doar însoțiți de un adult /
                    părinte. În cazul în care un adult este însoțit de 2 copii cu vârsta sub 7 ani, pentru unul dintre
                    minori se va achiziționa un bilet.</p>

            </div>
        </div>
    </div>


<p>Data publicării: {% now "d-m-Y"%}</p>
<img src="{% static 'images/image.png' %}" alt="informatii">
