<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-body"><h2>FC SDA</h2></div>
    <div class="list-group list-group-item-dark bg-dark">
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><h5>Footbal</h5></a>
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><h5>Club</h5></a>
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><h5>Membri</h5></a>
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><h5>Fani</h5></a>
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><h5>Stadion</h5></a>
        <a style="background-color:-moz-mac-accentdarkestshadow"
           class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'register-ticket' %}">
            <h5>Tichete</h5></a>
    </div>
</div>